.env
geckodriver.log
.vs
.vs/Daisy-openAI-chat/v17/.wsuo
__pycache__/
*.pyc
daisy.log
configs.yaml
context.json
daisy.db
ffcache1Apgjk
ffcache9lVK7d
ffcachelzRhbI
ffcachempdonx
ffcacheRWd2Yv
reinstall_daisy_llm.py
