enabled_modules:
- modules.Daisy
- modules.TtsElevenLabs
- modules.GoogleScraper
- modules.Calculator

conversation: CONVERSATION_ID

keys:
  assembly_ai: APIKEY
  openai: APIKEY
  serp_api: APIKEY
  elevenlabs: APIKEY
  porcupine: APIKEY

location: LAT, LON


hardware:
  input_device_index: 1
  led: False

TTS:
  speed: SPEED

TTSElevenLabs:
  voice: VOICE_NAME