enabled_modules:
- modules.Daisy
- modules.TtsElevenLabs
- modules.GoogleScraper
- modules.Calculator

keys:
  assembly_ai: APIKEY
  openai: APIKEY
  serp_api: APIKEY
  elevenlabs: APIKEY
  porcupine: APIKEY

hardware:
  input_device_index: 1
  led: False