SpeechRecognition==3.8.1
requests
pyttsx3
openai
pyaudio
colorama
python-dotenv
pygame
google-search-results
mutagen
pynput
assemblyai
websockets
pvporcupine
pvrecorder
python3-pyaudio
websockets
python-dotenv
pyttsx3
requests
pygame
numpy
flask