<!DOCTYPE html>
<html lang="en">
<script>
    function updateChat() {
        fetch('/chat_data')
            .then(response => response.json())
            .then(data => {
                const chatContainer = document.getElementById('chat-container');
                chatContainer.innerHTML = '';

                data.forEach(message => {
                    const messageTemplate = `
                        <div class="collection-item avatar">
                            <i class="material-icons circle ${message.role === 'user' ? 'blue' : 'green'}">
                                ${message.role === 'user' ? 'person' : 'chat_bubble'}
                            </i>
                            <p>${message.content.replace(/\n/g, '<br>')}</p>
                        </div>
                    `;


                    chatContainer.insertAdjacentHTML('beforeend', messageTemplate);
                });
            })
            .catch(error => console.error('Error fetching chat data:', error));
    }


    // Fetch chat data every 5 seconds
    setInterval(updateChat, 5000);

    // Fetch chat data when the page loads
    updateChat();
</script>
{% include "header.html" %}
<body>
  <div class="container">
    <h3 class="center-align">Chat</h3>
    <div class="card-panel">
      <div class="collection" id="chat-container">
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
